Flask==0.10.1
Flask-SQLAlchemy==1.0
Flask-Testing==0.4.1
Jinja2==2.7.3
Mako==1.0.0
MarkupSafe==0.23
SQLAlchemy==0.9.6
Werkzeug==0.9.6
alembic==0.6.5
click==2.5
itsdangerous==0.24
twill==1.8.0
unittest2==0.5.1
wsgiref==0.1.2
