Flask==0.9
Flask-SQLAlchemy==0.16
Flask-Script==0.5.1
Flask-Testing==0.4
Jinja2==2.6
Mako==0.7.2
MarkupSafe==0.15
SQLAlchemy==0.7.9
Werkzeug==0.8.3
alembic==0.4.0
distribute==0.6.27
gunicorn==0.15.0
twill==0.9
unittest2==0.5.1
wsgiref==0.1.2
